# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
env/
venv/
ENV/
.venv/
.pyenv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# PyBuilder
target/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode project settings
.vscode/

# IDEs
.idea/
*.sublime-workspace
*.sublime-project

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# dotenv files
.env
.env.*
